*{
	margin: 0;padding: 0;
}
input{
	outline: none;
	display: block;
}
ul,li{
	list-style: none;
}
html,body{
	color: #000;font-family: "微软雅黑" sans-serifs;
	font-size: 14px;
}
.box{
	margin: 50px auto;width: 300px;
}
.box input{
	height: 30px;padding:0 10px;
	width: 278px;border: 1px solid green;
}
.box ul{
	display: none;
	border: 1px solid green;
}
.box ul li{
	padding:0 10px;height: 30px;
	line-height: 30px;cursor: pointer;
}
.box ul li:hover{
	background: #eee;
}
